.text-justify {
    text-align: justify;
  }


  .arkaplan {
    background-color: #191919;
  }

  .beyazyazi {
    color: #ffffff;
  }

  .buyukyazi {
    color: rgb(211, 177, 134);
  }

 
  

